[package]
name = "gstreamer-mse-sys"
build = "build.rs"
authors = ["Sebastian Dröge <sebastian@centricular.com>", "Simon Wülker <simon.wuelker@arcor.de>"]
description = "FFI bindings to libgstmse-1.0"
documentation = "https://gstreamer.pages.freedesktop.org/gstreamer-rs/stable/latest/docs/gstreamer_mse_sys/"
keywords = ["ffi", "gstreamer", "gnome", "multimedia"]
license = "MIT"
readme = "README.md"

[package.version]
workspace = true

[package.categories]
workspace = true

[package.repository]
workspace = true

[package.homepage]
workspace = true

[package.edition]
workspace = true

[package.rust-version]
workspace = true

[package.metadata.system-deps.gstreamer_mse_1_0]
name = "gstreamer-mse-1.0"
version = "1.26"

[package.metadata.system-deps.gstreamer_mse_1_0.v1_28]
version = "1.28"

[package.metadata.system-deps.gstreamer_mse_1_0.v1_30]
version = "1.29"

[package.metadata.docs.rs]
rustdoc-args = ["--generate-link-to-definition"]
all-features = true

[lib]
name = "gstreamer_mse_sys"

[dependencies]
libc = "0.2"

[dependencies.glib-sys]
workspace = true

[dependencies.gstreamer-sys]
workspace = true

[build-dependencies]
system-deps = "7"

[dev-dependencies]
shell-words = "1.0.0"
tempfile = "3"

[features]
v1_28 = []
v1_30 = ["v1_28"]
